@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-primary-light: #334155;
  --color-primary-dark: #020617;
  --color-secondary: #64748B;
  --color-accent: #0EA5E9;
  --color-neutral-100: #F1F5F9;
  --color-neutral-200: #E2E8F0;
  --color-neutral-800: #1E293B;
  --color-neutral-900: #0F172A;

  --animate-slow-zoom: slow-zoom 20s ease-in-out infinite alternate;
  --animate-fade-in-up: fade-in-up 1s ease-out forwards;

  @keyframes slow-zoom {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.1);
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-gray-800;
}